amqp==5.2.0
annotated-types==0.6.0
anyio==4.3.0
av==11.0.0
billiard==4.2.0
celery==5.3.6
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
coloredlogs==15.0.1
ctranslate2==4.1.0
dnspython==1.16.0
fastapi==0.110.0
faster-whisper==1.0.1
filelock==3.13.1
flatbuffers==24.3.7
flower==2.0.1
fsspec==2024.3.1
h11==0.14.0
huggingface-hub==0.21.4
humanfriendly==10.0
humanize==4.9.0
icad_tone_detection==0.5
idna==3.6
iniconfig==2.0.0
Jinja2==3.1.3
kombu==5.3.5
llvmlite==0.42.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
more-itertools==10.2.0
mpmath==1.3.0
networkx==3.2.1
numba==0.59.1
numpy==1.26.4
onnxruntime==1.17.1
openai-whisper==20231117
packaging==24.0
pluggy==1.4.0
prometheus_client==0.20.0
prompt-toolkit==3.0.43
protobuf==5.26.0
pydantic==2.6.4
pydantic_core==2.16.3
pydub==0.25.1
Pygments==2.17.2
pymongo==3.11.0
pytest==8.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
pytz==2024.1
PyYAML==6.0.1
redis==5.0.3
regex==2023.12.25
requests==2.31.0
rich==13.7.1
scipy==1.12.0
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.28
sqlmodel==0.0.16
starlette==0.36.3
sympy==1.12
tiktoken==0.6.0
tokenizers==0.15.2
torch==2.2.1
tornado==6.4
tqdm==4.66.2
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
uvicorn==0.27.1
vine==5.1.0
wcwidth==0.2.13
